<ion-header>
  <ion-toolbar>
    <ion-title>
      Página de Usuario
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<app-menu></app-menu>

<ion-content>
  <ion-card>
    <ion-card-header>
      Detalles del Usuario
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-img src="assets/img/mandela.jpg" alt="Imagen de perfil"></ion-img>
      </ion-item>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-text>Nelson Mandela</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-text>nelson_mandela&commat;gmail.com</ion-text>
      </ion-item>
      <p>Lorem Ipsum:
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rhoncus enim et justo lacinia, nec finibus enim mollis. Sed gravida, velit ac consequat condimentum, justo urna tincidunt arcu, vel dictum turpis risus a justo. Quisque consequat justo id mi congue sollicitudin. Integer non lectus enim. Integer vel mauris ac justo hendrerit dignissim a ac neque. Phasellus hendrerit, ligula at molestie vestibulum, ex elit finibus eros, vel faucibus purus leo at nunc. Quisque vel turpis eget nisi ullamcorper facilisis. Donec eget risus sed odio iaculis lobortis vitae at nulla. Cras vel lacinia nunc.</p>
    </ion-card-content>
    
    <!--<ion-item>
      <ion-button>
        Lorem ipsum
      </ion-button>
    </ion-item>-->

  </ion-card>
</ion-content>
