<ion-header>
  <ion-toolbar>
    <ion-title>Retail Off - Página Genérica</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
  
</ion-header>

<app-menu></app-menu>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Bienvenido a Retail Off!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/img/generica.jpg" alt="Imagen de ejemplo">
      <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac nulla lobortis, suscipit eros ut, consectetur eros. Donec euismod eros vel eros cursus, vel faucibus sapien ullamcorper.</p>
      <p style="text-align: center;">Nullam vel risus nec justo fringilla blandit. Ut in ligula id mi facilisis suscipit non in mauris. Nam aliquam neque nec congue aliquet. Curabitur non aliquet nulla. Integer at urna id magna gravida euismod.</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>1. Lorem ipsum dolor</ion-item>
    <ion-item>2. Consectetur adipiscing elit</ion-item>
    <ion-item>3. Sed do eiusmod</ion-item>
    <ion-item>4. Tempor incididunt ut</ion-item>
    <ion-item>5. Labore et dolore</ion-item>
    <ion-item>6. Magna aliqua Ut</ion-item>
    <ion-item>7. Enim ad minim</ion-item>
    <ion-item>8. Veniam quis nostrud</ion-item>
    <ion-item>9. Exercitation ullamco laboris</ion-item>
    <ion-item>10. Nisi ut aliquip</ion-item>
  </ion-list>
  
</ion-content>
