<ion-header>
  <ion-toolbar>
    <ion-title>
      Desarrollamos Software
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title color="primary">Retail Off</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/img/logo.jpeg" width="400" height="200">
      <ion-button expand="full" routerLink="/login">Iniciar Sesión</ion-button>
      <br>
      <h2 class="Sans Serif">¿Estás Registrado/a? ¡Crea tu cuenta Ahora!</h2>
      <br>
      <ion-button expand="full" routerLInk="/registro">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>

    <h2 style="text-align: center; color: black; font-weight: bold;">Nuestro trabajo</h2>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/inventario_ia.jpg" width="400" height="200">
      <h2 style="text-align: center; color: black; font-weight: bold;" class="Sans Serif">Supermercados Delicias</h2>
      <p style="text-align: justify;"><i style="font-weight: bold;">Gestión de inventario inteligente.</i> Desarrollamos un sistema que utiliza inteligencia artificial para predecir la demanda de productos, optimizando así la gestión del inventario y reduciendo costos.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/ventas_online.jpg" width="400" height="200">
      <h2 style="text-align: center; color: black; font-weight: bold;" class="Sans Serif">Tiendas ModaStyle</h2>
      <p style="text-align: justify;"><i style="font-weight: bold;">Plataforma omnicanal de comercio electrónico.</i> Creamos una solución que integra ventas en línea y en tiendas físicas, ofreciendo opciones de compra y devolución flexibles para los clientes, junto con recomendaciones personalizadas.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <img src="assets/img/analisis_datos.jpg" width="400" height="200">
      <h2 style="text-align: center; color: black; font-weight: bold;" class="Sans Serif">Distribuidora TodoBien</h2>
      <p style="text-align: justify;"><i style="font-weight: bold;">Sistema de análisis de datos en tiempo real.</i> Implementamos un sistema que recopila y analiza datos de ventas y comportamiento del cliente en tiempo real, proporcionando paneles de control personalizables y alertas automatizadas para una toma de decisiones más ágil.</p>
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-content>
      <img src="assets/img/fidelizacion.jpg" width="400" height="200">
      <h2 style="text-align: center; color: black; font-weight: bold;" class="Sans Serif">ElectroHogar</h2>
      <p style="text-align: justify;"><i style="font-weight: bold;">Aplicación móvil de fidelización de clientes.</i> Diseñamos una app que ofrece recompensas exclusivas y contenido relevante, aumentando la lealtad del cliente y proporcionando datos valiosos para estrategias de marketing.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
